# =========================================================
# Restricciones de pines para la FPGA Alhambra II (Ice40)
# =========================================================

# --- 2. BOTÓN (BTN0) ---
# Este botón está "Activo en Alto" (presionado = 1, no presionado = 0)
set_io a 34 
set_io b 33 

# --- 3. LED (LED Verde) ---
# Uno de los LEDs de usuario de la placa 
set_io y 45